*{
    margin: 0;
    padding: 0;
}

.main-container {
    height:100vh;
    background-color: lightyellow;
}   

.flag-container {
    height: 250px;
    width: 500px;
    background-color: green;
}

.flag-circle {
    height: 130px;
    width: 130px;
}